amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.18
Django==1.8.2
django-bootstrap-toolkit==2.15.0
django-celery==3.2.1
django-haystack==2.6.1
itsdangerous==0.24
jieba==0.39
kombu==3.0.37
Markdown==2.6.9
olefile==0.44
Pillow==4.3.0
PyMySQL==0.7.11
pytz==2017.2
redis==2.10.3
Whoosh==2.7.4
